body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  #uno {
    background-color: yellow;
    text-align: start;
    margin: 40px;
    border-radius: 15px;
    padding: 30px;
  }

  #dos {
    background-color: yellow;
    text-align: start;
    margin: 40px;
    border-radius: 15px;
    padding: 30px;
  }